body {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: linear-gradient(#1a1a1ac8, #1a1a1ac8), url(./images/Bushy4k.png);
    background-size: cover;
}

.build-container {
    font-family: Arial, sans-serif;
    background-color: #1a1a1a;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: 0;
    flex-direction: column;
    background-image: linear-gradient(#1a1a1ac8, #1a1a1ac8), url(./images/Bushy4k.png);
    background-size: cover;
}

.dropdown-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 75%;
    margin: 20px;
}

.dropdown-toggle {
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    text-decoration: none;
    width: 100%;
    text-align: left;
    font-weight: bold;
}

.dropdown-content {
    display: none;
    width: 100%;
    border: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 10px;
}

.dropdown-container.active .dropdown-content {
    display: block;
}

.description-inventory {
    display: flex;
    align-items: center;
}

.description {
    flex: 1;
    padding: 10px;
    line-height: 1.5;
    font-size: 14px;
}

.inventory {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-gap: 25px;
    padding: 20px;
    border-left: 1px solid #ccc;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.slot {
    width: 70px;
    height: 70px;
    border: 1px solid #ccc;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 12px;
    position: relative;
}

.item {
    width: 100%;
    height: 100%;
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}

.empty {
    border: none;
}

.navbar {
    background-color: #8CCFB9;
    overflow: hidden;
}

.navbar a {
    float: left;
    display: block;
    color: #fff;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    transition: background-color 0.3s;
}

.navbar a:hover {
    background-color: #294157;
}

/* // */
.tankEngage {
    background-color: #326a9b;
}

.tankEngage2 {
    background-color: #275176;
}

.tank {
    background-color: #224666;
}

.tank2 {
    background-color: #294157;
}

/* // */
.healer {
    background-color: #31683d;
}

.healer2 {
    background-color: #244f2d;
}

/* // */
.support {
    background-color: #cbc472;
}

.support2 {
    background-color: #a8a25e;
}

/* // */
.ranged {
    background-color: #b37203;
}

.ranged2 {
    background-color: #8b5801;
}

/* // */
.melee {
    background-color: #6b2a2a;
}

.melee2 {
    background-color: #4e1d1d;
}

/* // */
.pierce {
    background-color: #b8ac2e;
}

.pierce2 {
    background-color: #a49a26;
}